/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

body{
	font-family: "YuGothic","Yu Gothic","Meiryo","ヒラギノ角ゴ","sans-serif" ;
}

img{
	width: 100px ;
	height: 100px;
	margin-top: 14px ;
}

.header-content{
	display: flex;
	justify-content: space-between;
}
.wrapper{
	max-width: 1100px ;
	margin: 0 auto;
	padding: 0 4%;
}

.main-nav{
	display: flex;
	list-style: none;
	font-size: 2.0em;
	margin-top: 64px ;

}
.main-nav li{
	margin-left: 36px;
}
.top-content{
	text-align: center;
	margin-top: 10%;
}
.top-content h3{
	font-size: 5rem;
	font-family: 'Philosopher', serif;
}
.big-bg{
	background-image: url();
	background-size: cover;
	background-position: center top;

}