<header>
	<div class="header-content">
		<div class="logo"><src img="assets/images/logo.jpg"></div>
		<li class="item"><%= link_to "NEWS" %></li>
		<li class="item"><%= link_to "CONTACT" %></li>
		<li class="item"><%= link_to "MENU" %></li>
	</div>
</header>